.time {
  font-family: Fabrikat-Bold;
  font-size: 52;
  fill: white;
}

.meta {
  font-family: Seville-Bold;
  font-size: 18;
  fill: white;
}

.badge {
  font-family: Seville-Bold;
  font-size: 16;
  fill: white;
}